
  .mat-form-field {
      width: 100%;
  }
.fileControl-wrapper {
  position: relative;
  width: 100%;


  .mat-form-field-infix {

    width: 70% !important;
}

  .mat-toolbar-single-row {
      height: auto !important;
      background: transparent;

      button {
          width: 40%;
          text-align: center;
      }
  }
}

#fileControlInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
